name: Build ImGui Backends

on: [workflow_dispatch, push]

jobs:
  build-base:
    uses: ./.github/workflows/cmake.yml
    with:
      lib-name: ImGuiImpl
      repo: IvanKr08/cimgui_impl_static_wasm
      repo-tag: main
      cmake-flags: -DBACKENDS_BASE_ONLY=ON -DIMGUI_WCHAR32=ON -DIMGUI_STATIC=ON
      cmake-flags-windows: -DCMAKE_SYSTEM_VERSION=10.0.26100.0
      bin-name-osx: libImGuiImpl.a
      bin-name-linux: libImGuiImpl.a
      bin-name-android: libImGuiImpl.a
      bin-name-wasm: libImGuiImpl.a
      bin-name-windows: Release/ImGuiImpl.a
      bin-name-osx-normalized: ImGuiImpl.a
      bin-name-linux-normalized: ImGuiImpl.a
      bin-name-android-normalized: ImGuiImpl.a
      bin-name-wasm-normalized: ImGuiImpl.a
      bin-name-windows-normalized: ImGuiImpl.a
      linux-deps: "build-essential cmake libsdl2-dev libglfw3-dev libglu1-mesa-dev libvulkan-dev patchelf"
      macos-deps: "sdl2 glfw glew glm"
      use-vcpkg: true
      use-vcpkg-linux: false
      use-vcpkg-macos: false
      use-vcpkg-android: false
      use-vcpkg-wasm: false
      vcpkg-packages-windows: "vulkan glslang"
      setup-vulkan: true
      setup-vulkan-linux: false
      setup-vulkan-windows: false
      # pre-deps-steps: "bash scripts/downgrade_cmake.sh"
      checkout-self: true
      
  build-sdl3:
    name: Build (SDL3)
    uses: ./.github/workflows/cmake.yml
    with:
      enable-android: false
      lib-name: ImGuiImplSDL3
      repo: IvanKr08/cimgui_impl_static_wasm
      repo-tag: main
      checkout-self: true
      cmake-flags: -DBACKENDS_SDL3_ONLY=ON -DIMGUI_WCHAR32=ON -DIMGUI_STATIC=ON -DCMAKE_PREFIX_PATH="${PWD}/SDL/install"
      cmake-flags-windows: -DCMAKE_SYSTEM_VERSION=10.0.26100.0
      bin-name-osx: libImGuiImplSDL3.a
      bin-name-linux: libImGuiImplSDL3.a
      bin-name-android: libImGuiImplSDL3.a
      bin-name-wasm: libImGuiImplSDL3.a
      bin-name-windows: Release/ImGuiImplSDL3.a
      bin-name-osx-normalized: ImGuiImplSDL3.a
      bin-name-linux-normalized: ImGuiImplSDL3.a
      bin-name-android-normalized: ImGuiImplSDL3.a
      bin-name-wasm-normalized: ImGuiImplSDL3.a
      bin-name-windows-normalized: ImGuiImplSDL3.a
      linux-deps: "build-essential cmake libsdl2-dev libglfw3-dev libglu1-mesa-dev libvulkan-dev patchelf libasound2-dev libpulse-dev libaudio-dev libx11-dev libxext-dev libxrandr-dev libxcursor-dev libxfixes-dev libxi-dev libxinerama-dev libxss-dev libwayland-dev libwayland-egl-backend-dev libdbus-1-dev libudev-dev libgles2-mesa-dev libegl1-mesa-dev libgl1-mesa-dev libibus-1.0-dev fcitx-libs-dev libsamplerate0-dev ccache libjack-jackd2-dev libdrm-dev libpipewire-0.3-dev libdecor-0-dev qtwayland5 libxkbcommon-dev libsndio-dev libpng-dev libjpeg-dev libtiff-dev libwebp-dev libavif-dev"
      macos-deps: "sdl2 glfw glew glm"
      pre-configure-steps: "bash scripts/build_sdl3_static.sh"
      setup-vulkan: true
      setup-vulkan-linux: false
      setup-vulkan-windows: false
      # pre-deps-steps: "bash scripts/downgrade_cmake.sh"
